<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partials/head') %>
<body>
<%- body %>
<%- partial('_partials/scripts') %>
<% if (theme.plugins.aplayer.enable) { %>
    <%- partial('_plugins/aplayer') %>
<% } %>
<div class="aplayer" data-id="7637965554" data-server="netease" data-type="playlist" data-fixed="true" data-mini="true" data-listFolded="false" data-order="random" data-preload="none" data-autoplay="true" data-showlrc="false" data-lrc-type="0" muted></div>
<!-- <meting-js server="netease" type="playlist" id="7637965554" fixed="true" mini="true" listFolded="false" order="random" preload="none" autoplay="true" showlrc="false" lrc-type="0"></meting-js> -->
<canvas class="fireworks" style="position: fixed;left: 0;top: 0;z-index: 1; pointer-events: none;" ></canvas>
</body>
</html>
